.form {
  background: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 30px;
  width: 80vw;
}


.form p::selection, .form label::selection, .form input::selection {
  background-color: var(--purple-200);
  color: var(--white);
}


.form input {
  border: 1px solid var(--purple);
  border-radius: 10px;
  font-size: large;
  margin: 8px 0;
  padding: 10px;
  width: 75vw;
}

.form button {
  width: 50vw;
}

.validations {
  text-align: center;
}

@media ( min-width : 1080px ) {

  .form {
    width: 60vw;
  }

  .form input {
    width: calc(100% - 20px);
  }

  .form label {
    display: block;
    margin-bottom: 8px;
  }

  .form button {
    width: calc(50% - 20px);
  }
}
