:root {
  --white: white;

  --black: black;
  
  --background: white;
  
  --purple:  rgb(177, 154, 177);

  --purple-100: rgb(148, 81, 187);

  --gray: #797D86;

  --gray-100: #d8d8d8;

  --gray-200: #584F4F;

  --box-shadow: 0px 5px 10px 0px rgb(201, 192, 192);

  --input-border: 0.5px solid #41197F
}

body {
  font-family: Epilogue , sans-serif;
  background-color: var(--purple);
  margin: 0px;
}

