:root {
  --white: white;

  --red: #d31111;

  --green: #099e18;

  --black: black;
    
  --purple:  rgb(177, 154, 177);

  --purple-100: rgb(163, 135, 179);

  --purple-200: rgb(148, 81, 187);

  --border-radius: 15px;
}

body {
  font-family: Epilogue , sans-serif;
  background-color: var(--purple);
  margin: 0px;
}

